.main{
    padding: 24px 56px;
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 12px;

    .description{
        display: flex;
        flex-direction: column;
        gap: 6px;

        b{
            font-weight: bold;
        }

        .warning-message{
            color: #c72323;

            b{
                text-decoration: underline;
            }
        }
    }

    .form{
        /* width: 50%; */
        margin-top: 12px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 12px;
    }

    .table{
        /* padding: 0 25%; */
        min-width: 300px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        input[type="checkbox"]:disabled {
            cursor: not-allowed;
        }

        /* Si la résolution est dessous de 1000 Pixels en largeur  Alors supprimez le padding*/

        @media (max-width: 1000px){
            padding: 0;
        }
    }

    .btn{
        background: #4945ff;
        border-color: #4945ff;
        border: 1px solid #4945ff;
        color: white;
        padding: 0px 16px;
        height: 40px;
        border-radius: 4px;
        margin: 1px;
        cursor: pointer;

        &.alert{
            background: #ff4545;
            border-color: #ff4545;
            border: 1px solid #ff4545;
        }
    }
}


